/* these colors are replaced by themes */

.Error { 
  background: #882132; 
  color:#fff; 
}

.Error div.icon  { 
  width: 59px; 
  height: 60px; 
  top: -25px; 
  right: -25px; 
  background: url(/images/icon_success_building.gif) no-repeat; 
}

.Success.Sleeping,
.Success.Unknown,
.Success.CheckingModifications { 
  background: #2bca5b; 
  color: #040302; 
}

.Success.Building { 
  background: #B1FB17; 
  color: #040302; 
}

.Failure.Unknown,
.Failure.Sleeping { 
  background: #882132;
  color: #fff; 
}

.Failure.Building,
.Failure.CheckingModifications { 
  background: #F88017; 
  color: #fff; 
}
