/* @override
    http://localhost:7000/css/monitor.css
    http://localhost:9080/css/monitor.css
*/

body {
    color: #000000;
    margin-left: 4em;
    font: 30px Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
}

div.project {
    color: white;
    text-align: center;
    width: 400px;
    float: left;
    height: 260px;
    margin: 1em;
}

div.no_projects {
  color: #000;
  width: 400px;
  height: 260px;
  margin: 1em;
  border: red 1px solid;
}
.Success.Sleeping {
    background-color: #00c64b;
}

.Failure.Sleeping {
    background-color: #ff0816;
}

.Success.Building {
    background-color: #fcff2c;
}

.Failure.Building {
    background-color: #ffba6c;
}
