body {
  margin: 1.8em 0 0 4em;
  background: #000e0e url(/images/bg_repeat.png);
  font: 30px "Trebuchet MS", trebuchet, helvetica, arial, sans-serif;
}

a { 
  cursor: pointer; 
}

h1 { 
  font-size: 1em; 
  color: #fff; 
  text-align: center;
}

h2 { 
  font-size: 1em; 
  color: #fff; 
  text-align: center;
}

div.project {
  color: #fff;
  text-align: center;
  width: 300px;
  float: left;
  height: 180px;
  position: relative;
}

div.icon { 
  position:absolute; 
}

div.stats { 
  font-size: 0.5em;
}

div.bar_chart {
  font-size: 0.5em;
  height: 20px;
  z-index: 1;
}

div.bar_chart span {
  z-index: 1;
  text-align: center;
}

div.success {
  background: green;
  position: absolute;  
}

div.failure {
  background: red;
  float: right;
}

.Error { 
  background: #882132; 
  color:#fff; 
}

.Error div.icon  { 
  width: 59px; 
  height: 60px; 
  top: -25px; 
  right: -25px; 
  background: url(/images/icon_success_building.gif) no-repeat; 
}

.Success.Sleeping,
.Success.Unknown,
.Success.CheckingModifications { 
  background: #2bca5b; 
  color: #040302; 
}

.Success.Building { 
  background: #B1FB17; 
  color: #040302; 
}

.Failure.Unknown,
.Failure.Sleeping { 
  background: #882132;
  color: #fff; 
}

.Failure.Building,
.Failure.CheckingModifications { 
  background: #F88017; 
  color: #fff; 
}

#.graph {  
  width: 500px;
  height: 300px;
  border: 1px solid red; 
}  
