body {
  margin: 1.8em 0 0 4em;
  font: 20 "Trebuchet MS", trebuchet, helvetica, arial, sans-serif;
  background: black;
}

.stage {
  float: left;
  color: white;
  position: relative;
  margin: 20px;
  -moz-border-radius: 10px 10px 10px 10px;
}

td.pipeline {
  color: white;
}


.Error { color: pink; }

.Failure, .Failure.Building { color: red; }
.Failure.CheckingModifications { color: orange; }

.Failure.Unknown,
.Failure.Sleeping { color: red }

.Success.Building { color: yellow }

.Success,
.Success.Sleeping,
.Success.Unknown,
.Success.CheckingModifications { color: #00FF00 }

.Success.Pending { color: #00FF00 }
